PORT=8080
PA_API_TOKEN=

CROWNKEY_TOKEN=
CK_STATS_URL=https://crownkey.online/n8n-stats.php

N8N_URL=https://n8n.crownkeyuae.com
N8N_KEY=

SUPABASE_URL=https://irsmzcrjffbvsflwhwpc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=6501185066

WATCHDOG_DISABLED=false
